body {
	background-color: #bbdefb;
	font-weight: bold;
}

header{
	margin-top: 10%;
}

/* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=email]:focus + label {
     color: #000;
   }
   /* label underline focus color */
   .input-field input[type=email]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* label focus color */
   .input-field input[type=password]:focus + label {
     color: #000;
   }
   /* label underline focus color */
   .input-field input[type=password]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #000;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }

#login, #register, #register_Sehender, #register_Blinder_01, #register_Blinder_02, #register_Blinder_03, #register_Blinder_04, #register_Blinder_05 {
	margin-top: 5%;
}

fieldset{
	border-color: black;
}

#btn_facebook{
	background-color: #3b5998;
	width: 55%;
}

#btn_twitter{
	background-color: #00acee;
	width: 55%;
}

.divider {
	width: 60%;
	margin-left: 20%;
}

#login_email{
	width: 55%;
}

#btn_sehender, #btn_blinder, #gobackto_login{
	width: 55%;
}

.ueberschrift {
	text-decoration: underline;
	font-size: large;
}


#gobackto_register_1, #gobackto_register_2, #gobackto_registerBlinder01, #gobackto_registerBlinder02, #gobackto_registerBlinder03, #gobackto_registerBlinder04, #btn_logout{
	float: left;
	margin-left: 2%;

}

#goonto_registerBlinder02, #goonto_registerBlinder03, #goonto_registerBlinder04, #goonto_registerBlinder05, #register_confirm_1, #register_confirm_2 {
	float: right;
	margin-right: 2%;
}
