.slider .slides li {
	background-color: #ffffff;
}

#Frage2_blau{
	margin: 1%;
	margin-top: 0%;
	margin-left: 2%;
	background-color: #1e88e5;
	padding:2%;
	color:#ffffff;
}

#Frage2_rot{
	margin: 1%;
	margin-top: 0%;
	margin-left: 2%;
	background-color: #ff5252;
	padding:2%;
	color:#ffffff;
}

#Frage2_orangefarben{
	margin: 1%;
	margin-top: 0%;
	margin-left: 2%;
	background-color: #ffa726;
	padding:2%;
	color:#ffffff;
}

#Frage2_gruen{
	margin: 1%;
	margin-top: 0%;
	margin-left: 2%;
	background-color: #66bb6a;
	padding:2%;
	color:#ffffff;
}
#homeHelferCont_blau{
	margin-top: 10%;
	background-color: #bbdefb;
	border: 1px solid #90caf9;
	border-radius: 4px ;
	margin-bottom: 0%;
}

#homeHelferCont_rot{
	margin-top: 10%;
	background-color: #ef9a9a;
	border: 1px solid #e57373;
	border-radius: 4px ;
	margin-bottom: 0%;
}

#homeHelferCont_orangefarben{
	margin-top: 10%;
	background-color: #ffe0b2;
	border: 1px solid #ffcc80;
	border-radius: 4px ;
	margin-bottom: 0%;
}

#homeHelferCont_gruen{
	margin-top: 10%;
	background-color: #aed581;
	border: 1px solid #3dcf2d;
	border-radius: 4px ;
	margin-bottom: 0%;
}
/*Button zum Editieren und Löschen*/
ul .delete {
	float: right;
	font-weight: bold;
	background: none;
	font-size: 1.5em;
	border: none;
	position: relative;
}

ul .correct {
	float: right;
	font-weight: bold;
	background: none;
	font-size: 1.5em;
	border: none;
	position: relative;
}
