<template name="homeHelper" alt="Fenster: Startseite">


	<nav class="{{#if isInRole "blue"}}indigo darken-4{{/if}}{{#if isInRole "red"}}red darken-4{{/if}}{{#if isInRole "orange"}}orange darken-2{{/if}}{{#if isInRole "green"}}green darken-4{{/if}}">
    <img src="/Sighty_klein_weiss.png" class="brand-logo">
      <ul class="right hide-on-med-and-down">
        <li>Herzlich Willkommen {{username}}</li>
        <li><a id="btn_goto_home1">Startseite</a></li>
        <li><a href="/profile">Profil</a></li>
        <li><a href="/settings">Einstellungen</a></li>
        <li><a href="/about">About</a></li>
        <li><a id="btn_logout_homeHelper1" href="/confirmLogout">Logout</a></li>
      </ul>
        <div id="{{#if isInRole "blue"}}blau{{/if}}{{#if isInRole "red"}}rot{{/if}}{{#if isInRole "orange"}}orangefarben{{/if}}{{#if isInRole "green"}}gruen{{/if}}">
      <ul id="slide-out" class="side-nav">
        <li><p class="center-align">Herzlich Willkommen</p><p class="center-align"><img src="{{profilbild}}" class="circle" width="72px" height="72px"></p><p class="center-align">{{username}}</p></li>
        <li class="divider black"></li>
        <li><a id="btn_goto_home2">Startseite</a></li>
        <li class="divider"></li>
        <li><a href="/profile">Profil</a></li>
        <li class="divider"></li>
        <li><a href="/settings">Einstellungen</a></li>
        <li class="divider"></li>
        <li><a href="/about">About</a></li>
        <li class="divider black"></li>
        <li><a id="btn_logout_homeHelper2" href="/confirmLogout">Logout</a></li>
      </ul>
        </div>
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </nav>

	<div class="slider standard">
			<ul class="slides">
				{{#each questions}}
				<li>
					<div class="container" id="homeHelferCont" quesId="{{_id}}">
					<div class="card-panel {{#if isInRole "blue"}}indigo darken-4{{/if}}{{#if isInRole "red"}}red darken-4{{/if}}{{#if isInRole "orange"}}orange darken-2{{/if}}{{#if isInRole "green"}}green darken-4{{/if}}">
							<div class="card-image card small">
									<div class="valign-wrapper">
											<img src="{{pic1Id}}" data-src="holder.js/200x300?outline=yes" height="300px" width="200px">
											<img src="{{pic2Id}}" data-src="holder.js/200x300?outline=yes" height="300px" width="200px">
											<img src="{{pic3Id}}" data-src="holder.js/200x300?outline=yes" height="300px" width="200px">
											<img src="{{pic4Id}}" data-src="holder.js/200x300?outline=yes" height="300px" width="200px">
									</div>
							</div>
							<div class="card-content">
								{{text}}
							</div>
					</div>
					</div>
					<div class="container" id="answersCont" qId="{{qId}}">
							<div class="col s6">
								<p id="antwortLabel">Antworten:</p>
								<ul class="collection">
									{{#each answers _id}}
									<button class="delete" id="Löschen" qId="quesId">&times;</button>
                            						<button class="correct" id="Haken" qId="quesId">&radic;</button>
                        						 <a class="collection-item" id="answersItem" qId="quesId">{{text}}</a>
									{{/each}}
								</ul>
							</div>
					<div class="row">
						<div class="input-field col s6">
								<input name="answer" id="answer" type="text">
						</div>
					</div>
					<button class="btn waves-effect waves-light {{#if isInRole "blue"}}blue darken-1{{/if}}{{#if isInRole "red"}}red accent-2{{/if}}{{#if isInRole "orange"}}orange lighten-1{{/if}}{{#if isInRole "green"}}green lighten-1{{/if}}" type="submit" id="submit-answer">Comment
							<i class="mdi-content-send right"></i>
					</button>
					</div>
				</li>
				{{/each}}
			</ul>
	</div>


</template>
