<template name="confirmdeletion">
	<br>
	<br>
	<br>
	<br>
	<p class="center-align" id="text_userconfirmDeletion">Wollen sie wirklich ihr Profil löschen?</p>
	<br>
	<br>
	<p class="center-align"><a id="btn_delete_profile" alt="Button: Profil löschen" class="btn waves-effect waves-light {{#if isInRole "blue"}}blue darken-1{{/if}}{{#if isInRole "red"}}red accent-2{{/if}}{{#if isInRole "orange"}}orange lighten-1{{/if}}{{#if isInRole "green"}}green lighten-1{{/if}}">Profil löschen</a></p>
  <p class="center-align"><a id="btn_gobackto_profile" alt="Button: Zurück zum Profil" class="btn waves-effect waves-light {{#if isInRole "blue"}}blue darken-1{{/if}}{{#if isInRole "red"}}red accent-2{{/if}}{{#if isInRole "orange"}}orange lighten-1{{/if}}{{#if isInRole "green"}}green lighten-1{{/if}}">Abbrechen</a></p>
</template>
