<template name="startseiteSehender">
  <header id="header_startseiteSehender">

      <nav>
      <img src="Sighty_klein.png" class="brand-logo center" id="header_startseiteSehender_logo">
      <ul class="right hide-on-med-and-down">
        <li><a href="/profile">Profil</a></li>
        <li><a href="/mainpageS">Offene Fragen</a></li>
        <li><a href="#!">Deine Antworten</a></li>
        <li><a href="/" id="btn_logout">Logout</a></li>
      </ul>
      <ul id="slide-out" class="side-nav">
        <br>
        <li style="{color: black;}"><img src="profilbild.jpg" class="circle center">{{user}}</li>
        <li><a href="/profile">Profil</a></li>
        <li><a href="/mainpageS">Offene Fragen</a></li>
        <li><a href="#!">Deine Antworten</a></li>
        <li><a href="/" id="btn_logout">Logout</a></li>
      </ul>
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </nav>
  </header>
  <div id="startseite_Sehender">

  </div>
</template>
