<template name="settings">
  <!-- NavBar -->
<nav>
		<img src="/Sighty_klein_weiss.png" class="brand-logo">
  		<ul class="right hide-on-med-and-down">
  			<li>Herzlich Willkommen {{username}}</li>
        <li><a id="btn_goto_home1">Startseite</a></li>
    		<li><a href="/profile">Profil</a></li>
    		<li><a href="/settings">Einstellungen</a></li>
        <li><a href="/about">About</a></li>
    		<li><a id="btn_logout_about1" href="/confirmLogout">Logout</a></li>

  		</ul>
  		<ul id="slide-out" class="side-nav">
  			<li><p class="center-align">Herzlich Willkommen</p><p class="center-align"><img src="{{profilbild}}" class="circle" width="64px" height="64px"></p><p class="center-align">{{username}}</p></li>
  			<li class="divider black"></li>
        <li><a id="btn_goto_home2">Startseite</a></li>
        <li class="divider"></li>
    		<li><a href="/profile">Profil</a></li>
    		<li class="divider"></li>
    		<li><a href="/settings">Einstellungen</a></li>
    		<li class="divider"></li>
        <li><a href="/about">About</a></li>
        <li class="divider black"></li>
    		<li><a id="btn_logout_about2" href="/confirmLogout">Logout</a></li>
  		</ul>
  		<a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
	</nav>

    <h3 id="Ueberschrift2">Einstellungen</h3>
    <div id="settings_content">
	<table>
	<thead>
		<tr>
				<th data-field="id"></th>
				<th data-field="name"></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Push-Benachrichtigung ein/aus</td>
			<td>
				<!-- Switch -->
				<div class="switch">
					<label>
						Off
						<input type="checkbox">
						<span class="lever"></span>
						On
					</label>
				</div>
			</td>
		</tr>
		<tr>
			<td>Farbe ändern</td>
			<td>
				<form action="#">
	<p>
		<input name="group1" type="radio" id="test4" class="standard"/>
		<label for="test4">Standard</label>
	</p>
	<p>
		<input name="group1" type="radio" id="test1" class="red"/>
		<label for="test1">Red</label>
	</p>
	<p>
		<input name="group1" type="radio" id="test2" class="yellow"/>
		<label for="test2">Yellow</label>
	</p>
	<p>
		<input name="group1" type="radio" id="test3"  class="green"/>
		<label for="test3">Green</label>
	</p>
</form>
			</td>
		</tr>
		<tr>
			<td>Weitere Einstellungen</td>
			<td>Weitere Einstellungen</td>
		</tr>
	</tbody>
</table>
    </div>
</template>
