
#sec1 {
	margin-top: 2%;
}
#fileInput{
	visibility: hidden;
}

.head{
	font-size: xx-large;
	text-decoration: underline;
}

.subhead{
	font-size: large;
}
#Kasten{
	border-color: blue;
	margin: 1	%;
}
#Kastenaussen{
	width:90% !important;
	background-color: #1e88e5;
}
