<template name="newQuestion">
	<header>
		<p class="center-align"><img src="/Sighty_mittel.png"></p>
	</header>

	<h3 class="center-align">Neue Frage Stellen</h3>
    <p class="center-align">Lade bis zu vier Bilder hoch und stelle eine Frage <br/>
    unsere Nutzer werden versuchen dir so schnell wie möglich zu helfen!</p>
    <br>
    <br>
    <div class="container" id="takePhotoContainer">
    	<div class="valign-wrapper">
      		<a class="waves-effect waves-light btn" id="capture">
        	<i class="mdi-image-photo-camera"></i>
      		</a>
      		{{> upload_bootstrap contentType='images' callbacks=myCallbacks}}
    	</div>

    	<div class="card-panel teal">
          	<div class="card-image card medium">
              	<div class="valign-wrapper">
                  	<img src="{{photo1}}" height="300px" width="250px">
                  	<img src="{{photo2}}" height="300px" width="250px">
                  	<img src="{{photo3}}" height="300px" width="250px">
                  	<img src="{{photo4}}" height="300px" width="250px">
            	</div>

            	<div class="card-content delete-photo">
              		<div class="valign-wrapper">
                		<a class="waves-effect waves-light btn deletePicButtom" id="deletePic1">
                 			<i class="mdi-action-delete"></i>
                		</a>
                		<a class="waves-effect waves-light btn deletePicButtom" id="deletePic2">
                  		<i class="mdi-action-delete"></i>
                		</a>
                		<a class="waves-effect waves-light btn deletePicButtom" id="deletePic3">
                  		<i class="mdi-action-delete"></i>
                		</a>
                		<a class="waves-effect waves-light btn" id="deletePic4">
                  		<i class="mdi-action-delete"></i>
                		</a>
            		</div>
          		</div>
          	</div>
        </div>

				<div class="row">
					<div class="col s8">
						<ul class="collection question-area">
        			<a href="#!" class="collection-item">{{question}}</a>
      			</ul>
					</div>
				</div>

				<div class="row">
        	<div class="input-field col s6">
						<input name="question" id="question" type="text">
      		</div>
				</div>

      	<button class="waves-effect waves-light btn" type="submit" name="question" id="submit-question">Submit
          	<i class="mdi-content-send right"></i>
      	</button>
				<div class="row">
					<div class="col s8">
							<ul class="collection answers-area">
        				<a href="#!" class="collection-item">{{answer1}}</a>
								<a href="#!" class="collection-item">{{answer2}}</a>
								<a href="#!" class="collection-item">{{answer3}}</a>
								<a href="#!" class="collection-item">{{answer4}}</a>
      				</ul>
					</div>
				</div>

				<div class="row">
        	<div class="input-field col s6">
						<input name="answer" id="answer" type="text">
      		</div>
				</div>

      	<button class="waves-effect waves-light btn" type="submit" name="answer" id="submit-answer">Comment
          	<i class="mdi-content-send right"></i>
      	</button>

      	<p class="center-align"><a href="/homeBlind" class="waves-effect waves-light btn" id="btn_gobackto_homeBlind"><i class="mdi-navigation-chevron-left left"></i>Zurück</a></p>

    </div>

</template>
