<template name="newQuestion">
	<header>
		<p class="center-align"><img src="/Sighty_mittel.png"></p>
	</header>


    <div class="container" id="takePhotoContainer">
			<p class="Platz">Neue Frage Stellen:</p>
		    <p class="Platz">Lade bis zu vier Bilder hoch und stelle eine Frage <br/>
		    unsere Nutzer werden versuchen dir so schnell wie möglich zu helfen!</p>
		    <br>
			<a class="btn waves-effect waves-light blue darken-1" id="browse">
				Browse
			</a>
			<input type="file" id="fileInput">
			<div class="valgin-wrapper" id="sec1">
				<a class="btn waves-effect waves-light blue darken-1" id="capture">
					<i class="mdi-image-photo-camera"></i>
				</a>
			</div>

    	<div class="card-panel blue">
          	<div class="card-image card medium">
              	<div class="valign-wrapper">
                  	<img src="{{photo1}}" data-src="holder.js/300x250?theme=sky" height="300px" width="250px">
                    <img src="{{photo2}}" data-src="holder.js/300x250?theme=sky" height="300px" width="250px">
                  	<img src="{{photo3}}" data-src="holder.js/300x250?theme=sky" height="300px" width="250px">
                  	<img src="{{photo4}}" data-src="holder.js/300x250?theme=sky" height="300px" width="250px">
            	</div>

            	<div class="card-content delete-photo">
              		<div class="valign-wrapper">
                		<a class="btn waves-effect waves-light blue darken-1 deletePicButtom" id="deletePic1">
                 			<i class="mdi-action-delete"></i>
                		</a>
                		<a class="btn waves-effect waves-light blue darken-1 deletePicButtom" id="deletePic2">
                  		<i class="mdi-action-delete"></i>
                		</a>
                		<a class="btn waves-effect waves-light blue darken-1 deletePicButtom" id="deletePic3">
                  		<i class="mdi-action-delete"></i>
                		</a>
                		<a class="btn waves-effect waves-light blue darken-1" id="deletePic4">
                  		<i class="mdi-action-delete"></i>
                		</a>
            		</div>
          		</div>
          	</div>
        </div>

				<div class="row">
			    <form class="col s12">
			      <div class="row">
			        <div class="input-field col s6">
			          <i class="mdi-action-account-circle prefix"></i>
			          <input name="question" id="question" type="text" class="validate" quesId="{{quesId}}">
			          <label for="question">Stelle hier deine Frage!</label>
			        </div>
			      </div>
			    </form>
			  </div>

				<p>
      	<a class="btn waves-effect waves-light blue darken-1" type="submit" name="question" id="submit-question">Submit
          	<i class="mdi-content-send right"></i>
      	</a>

      	<a href="/homeBlind" class="btn waves-effect waves-light blue darken-1" id="btn_gobackto_homeBlind"><i class="mdi-navigation-chevron-left left"></i>Abbrechen</a>
				</p>

    </div>

</template>
