h1{
  font-family: cursive;
}
#Korrektur{
  margin: 0% 4% 0% 4%;

}
#Ueberschrift{
  margin: 4% 4% 0% 4%;
  background-color: #1e88e5;
  color:white;
  text-decoration: none;
  text-align: center;
  font-family: sans-serif;
}

.collection .collection-item {
	height: auto !important;
}