h1{
  font-family: cursive;
}
#Korrektur{
  margin: 0% 10% 0% 10%;

}
#Ueberschrift_blau{
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 8%;
  background-color: #1e88e5;
  color:white;
  text-decoration: none;
  text-align: center;
  font-family: sans-serif;
}

#Ueberschrift_rot{
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 8%;
  background-color: #ff5252;
  color:white;
  text-decoration: none;
  text-align: center;
  font-family: sans-serif;
}

#Ueberschrift_orangefarben{
width: 80%;
margin-right: 10%;
margin-left: 10%;
margin-top: 8%;
 background-color: #f9a825;
 color:white;
 text-decoration: none;
 text-align: center;
 font-family: sans-serif;
}

#Ueberschrift_gruen{
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 8%;
    background-color: #66bb6a;
    color:white;
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
}

.collection .collection-item {
	height: auto !important;
}
