<template name="about" alt="Fenster: Über uns">
  <nav class="{{#if isInRole "blue"}}indigo darken-4{{/if}}{{#if isInRole "red"}}red darken-4{{/if}}{{#if isInRole "orange"}}orange darken-2{{/if}}{{#if isInRole "green"}}green darken-4{{/if}}">
		<img src="/Sighty_klein_weiss.png" class="brand-logo" alt="Sighty Logo">
		<ul class="right hide-on-med-and-down">
			<li>Herzlich Willkommen {{username}}</li>
      <li><a id="btn_goto_home1">Startseite</a></li>
  		<li><a href="/profile">Profil</a></li>
  		<li><a href="/settings">Einstellungen</a></li>
      <li><a href="/about">About</a></li>
  		<li><a id="btn_logout_about1" href="/confirmLogout">Logout</a></li>
		</ul>
    <div id="{{#if isInRole "blue"}}blau{{/if}}indigo darken-4{{#if isInRole "red"}}rot{{/if}}{{#if isInRole "orange"}}orangefarben{{/if}}{{#if isInRole "green"}}gruen{{/if}}">
  		<ul id="slide-out" class="side-nav">
  			<li style="color:#000000"><p class="center-align">Herzlich Willkommen</p><p class="center-align"><img src="{{profilbild}}" class="circle" width="64px" height="64px"></p><p class="center-align">{{username}}</p></li>
  			<li class="divider black"></li>
        <li><a id="btn_goto_home2">Startseite</a></li>
        <li class="divider"></li>
    		<li><a href="/profile">Profil</a></li>
    		<li class="divider"></li>
    		<li><a href="/settings">Einstellungen</a></li>
    		<li class="divider"></li>
        <li><a href="/about">About</a></li>
        <li class="divider black"></li>
    		<li><a id="btn_logout_about2" href="/confirmLogout">Logout</a></li>
  		</ul>
    </div>
		<a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
	</nav>


  <h3 id="Ueberschrift_{{#if isInRole "blue"}}blau{{/if}}{{#if isInRole "red"}}rot{{/if}}{{#if isInRole "orange"}}orangefarben{{/if}}{{#if isInRole "green"}}gruen{{/if}}">About Us</h3>
	<div id="Korrektur">
    <ul class="collection">
     <li class="collection-item avatar">
  		<img src="/Fragezeichen.gif" alt="" class="circle">
       <span class="title">Support:</span>
       <p>Bei Problemen oder Fragen bezüglich der App melden sie sich bitte
  			  unter folgender Email-Adresse <br>
           <a style="color: black" href="mailto:thomas.dietrich@tu-ilmenau.de">thomas.dietrich@tu-ilmenau.de</a>
       </p>
     </li>
     <li class="collection-item avatar">
       <i class="mdi-file-folder circle"></i>
       <span class="title">Version: 0.5</span>
       <p>
         Branch: {{version.branch}}<br>
         Commit: <br>
         {{version.commit}}<br>
         ({{version.timestamp}})
       </p>
     </li>
     <li class="collection-item avatar">
  		<img src="/intension.png" alt="" class="circle">
       <span class="title">Intention:</span>
       <p>Diese App wurde entwickelt um blinden Menschen den Alltag zu erleichtern <br>
       </p>
     </li>
     <li class="collection-item avatar">
  		<img src="/developer.png" alt="" class="circle">

       <span class="title">Entwickler:</span>
       <p id="Korrektur2">
          Annika, Alex, Guido, Ghalia, Tobias, Felix, Lan
       </p>
     </li>
  	<li class="collection-item avatar">
  		<img src="/support.png" alt="" class="circle">
       <span class="title">Besonderer Dank</span>
       <p>
  				Unterstützt wurden wir von unserem Projektleiter Thomas Dietrich
       </p>
     </li>
    </ul>
  </div>
</template>
