body {
	background-color: #ffffff;
}

/* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=email]:focus + label {
     color: darkblue;
   }
   /* label underline focus color */
   .input-field input[type=email]:focus {
     border-bottom: 1px solid darkblue;
     box-shadow: 0 1px 0 0 darkblue;
   }
   /* label focus color */
   .input-field input[type=password]:focus + label {
     color: darkblue;
   }
   /* label underline focus color */
   .input-field input[type=password]:focus {
     border-bottom: 1px solid darkblue;
     box-shadow: 0 1px 0 0 darkblue;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: darkblue;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid darkblue;
     box-shadow: 0 1px 0 0 darkblue;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }


/*blau*/
nav{
       background-color: #0d2b51;
}

.hide-on-med-and-down.blau ul li a:hover {
    background-color: #ffffff;
    color: #000000;
}

#blau #slide-out li a:hover{
    background-color: #0d2b51;
    color: #ffffff !important;
}

#blau #slide-out li:hover{
    background-color: #ffffff;
}

/*rot*/
#rot #slide-out li a:hover{
    background-color:#b71c1c;
    color: #ffffff !important;
}

#rot #slide-out li:hover{
    background-color: #ffffff;
}

