#btn_chooseBlind_register, #btn_chooseHelper_register, #btn_changeUsername_register, #btn_upload_profilePic {
	width: 80%;
}

#chooseUserclass_register {
	width: 82%;
	margin-left: 9%;
	margin-right: 9%;
}

#btn_change_profilePic1 {
	
}

.file-path{
	color: darkblue;
}