<template name="registerBlinder01">
	<header id="header_registerBlinder01">
		<p class="center-align"><img src="sighty.png" width="40%" height="40%"></p>
	</header>
	<div id="register_Blinder_01">
		<p class="center-align ueberschrift">Registrierung</p>
		<p class="center-align">Bitte geben Sie Vor- und Nachname ein:</p>

		<div class="row">
    		<form class="col s12">
      		<div class="row">
        		<div class="input-field col s12">
          			<input id="first_name_blinder" type="text" class="validate" value="{{vorname}}">
          			<label for="first_name">Vorname</label>
        		</div>
        	</div>
        	<div class="row">
        		<div class="input-field col s12">
          			<input id="last_name" type="text" class="validate">
          			<label for="last_name">Nachname</label>
        		</div>
      		</div>
      		</form>
    	</div>

      <p><a href="/register" class="btn-floating waves-effect waves-light blue darken-1" id="gobackto_register_2"><i class="mdi-navigation-chevron-left"></i></a></p>
      <p><a href="/registerBlinder02" class="btn-floating waves-effect waves-light blue darken-1" id="goonto_registerBlinder02"><i class="mdi-navigation-chevron-right"></i></a></p>
	</div>
</template>

<template name="registerBlinder02">
  <header id="header_registerBlinder02">
      <p class="center-align"><img src="sighty.png" width="40%" height="40%"></p>
  </header>
  <div id="register_Blinder_02">
    <p class="center-align ueberschrift">Registrierung</p>
    <p class="center-align">Bitte geben Sie Ihren Benutzernamen ein:</p>
    <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
                <input id="username" type="text" class="validate">
                <label for="username">Benutzername</label>
            </div>
          </div>
        </form>
      </div>

      <p><a href="/registerBlinder01" class="btn-floating waves-effect waves-light blue darken-1" id="gobackto_registerBlinder01"><i class="mdi-navigation-chevron-left"></i></a></p>
      <p><a href="/registerBlinder03" class="btn-floating waves-effect waves-light blue darken-1" id="goonto_registerBlinder03"><i class="mdi-navigation-chevron-right"></i></a></p>
  </div>
</template>

<template name="registerBlinder03">
  <header id="header_registerBlinder03">
      <p class="center-align"><img src="sighty.png" width="40%" height="40%"></p>
  </header>
  <div id="register_Blinder_03">
      <p class="center-align ueberschrift">Registrierung</p>
      <p class="center-align">Bitte wählen Sie Ihr Geburtsdatum:</p>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
                <input type="date" class="datepicker" id="birthday">
                <label for="birthday" class="active">Geburtsdatum</label>
            </div>
          </div>
        </form>
      </div>

      <p><a href="/registerBlinder02" class="btn-floating waves-effect waves-light blue darken-1" id="gobackto_registerBlinder02"><i class="mdi-navigation-chevron-left"></i></a></p>
      <p><a href="/registerBlinder04" class="btn-floating waves-effect waves-light blue darken-1" id="goonto_registerBlinder04"><i class="mdi-navigation-chevron-right"></i></a></p>
  </div>
</template>

<template name="registerBlinder04">
  <header id="header_registerBlinder04">
      <p class="center-align"><img src="sighty.png" width="40%" height="40%"></p>
  </header>
  <div id="register_Blinder_04">
    <p class="center-align ueberschrift">Registrierung</p>
    <p class="center-align">Bitte geben Sie Ihre E-Mail Adresse ein:</p>
    <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label for="email">E-Mail</label>
            </div>
          </div>
        </form>
      </div>

      <p><a href="/registerBlinder03" class="btn-floating waves-effect waves-light blue darken-1" id="gobackto_registerBlinder03"><i class="mdi-navigation-chevron-left"></i></a></p>
      <p><a href="/registerBlinder05" class="btn-floating waves-effect waves-light blue darken-1" id="goonto_registerBlinder05"><i class="mdi-navigation-chevron-right"></i></a></p>
  </div>
</template>

<template name="registerBlinder05">
  <header id="header_registerBlinder05">
      <p class="center-align"><img src="sighty.png" width="40%" height="40%"></p>
  </header>
  <div id="register_Blinder_05">
    <p class="center-align ueberschrift">Registrierung</p>
    <p class="center-align">Bitte geben Sie Ihr Passwort ein:</p>
    <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
                <input id="password" type="password" class="validate">
                <label for="password">Passwort</label>
            </div>
          </div>
        </form>
      </div>

      <p><a href="" class="btn waves-effect waves-light blue darken-1" id="register_confirm_2">Registrieren</a></p>
      <p><a href="/registerBlinder04" class="btn-floating waves-effect waves-light blue darken-1" id="gobackto_registerBlinder04"><i class="mdi-navigation-chevron-left"></i></a></p>
  </div>
</template>
