<template name="confirmLogout">

    {{#if isInRole "blue"}}
	<br>
	<br>
	<br>
	<br>
	<p class="center-align" id="text_userconfirmLogout">Wollen sie sich wirklich ausloggen?</p>
	<br>
	<br>
	<p class="center-align"><a id="btn_confirmLogout" class="btn waves-effect waves-light blue darken-1" href="/">Ausloggen</a></p>
  <p class="center-align"><a id="btn_abortLogout" class="btn waves-effect waves-light blue darken-1">Abbrechen</a></p>
    {{/if}}
    {{#if isInRole "red"}}
        <br>
        <br>
        <br>
        <br>
        <p class="center-align" id="text_userconfirmLogout">Wollen sie sich wirklich ausloggen?</p>
        <br>
        <br>
        <p class="center-align"><a id="btn_confirmLogout" class="btn waves-effect waves-light red darken-2" href="/">Ausloggen</a></p>
        <p class="center-align"><a id="btn_abortLogout" class="btn waves-effect waves-light red darken-2">Abbrechen</a></p>
    {{/if}}
    {{#if isInRole "yellow"}}
        <br>
        <br>
        <br>
        <br>
        <p class="center-align" id="text_userconfirmLogout">Wollen sie sich wirklich ausloggen?</p>
        <br>
        <br>
        <p class="center-align"><a id="btn_confirmLogout" class="btn waves-effect waves-light yellow darken-3" href="/">Ausloggen</a></p>
        <p class="center-align"><a id="btn_abortLogout" class="btn waves-effect waves-light yellow darken-3">Abbrechen</a></p>
    {{/if}}
</template>
