
<template name="forgotPassword">
    <meta charset="UTF-16">
    <form action="/forgot" id="forgotPasswordForm" method="post">
        <br>
        <br>
        <br>
        <br>
        <p class="center-align" id="text_forgot">Hier k&ouml;nnen Sie Ihr Passwort zur&uuml;cksetzen</p>
        <br>
        <br>
        <input  id="forgotPasswordEmail" type="text" name="email" placeholder="Email Address">
        <p class="center-align" type="submit" value="Send"><a id="btn_submit_mail" class="btn waves-effect waves-light blue darken-1">Zur&uuml;cksetzen</a></p>
    </form>
    <!-- end #forgot-password-form -->

</template>

<template name="ResetPassword">

    {{#if resetPassword}}
        <form action="/reset-password"  id="resetPasswordForm" method="post">
            <input id="resetPasswordPassword" name="password" placeholder="New Password" type="password" >
            <input id="resetPasswordPasswordConfirm" name="password-confirm" placeholder="Confirm" type="password" >
            <input class="btn-submit" type="submit" value="Reset">
        </form>
        <!-- end #reset-password-form -->
    {{/if}}

</template>