#text_forgot{
    font-size: x-large;
    font-family: serif;
}

#btn_submit_mail, #btn_gobackto_login2{
    width: 70%;
}

#forgotPasswordEmail{
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

