<template name="homeBlind">

	<nav>
		<img src="/Sighty_klein.png" class="brand-logo">
  		<ul class="right hide-on-med-and-down">
  			<li>Herzlich Willkommen {{username}}</li>
        <li><a id="btn_goto_home1">Startseite</a></li>
    		<li><a href="/profile">Profil</a></li>
    		<li><a href="#!">Einstellungen</a></li>
        <li><a href="/about">About</a></li>
    		<li><a id="btn_logout_homeBlind1">Logout</a></li>

  		</ul>
  		<ul id="slide-out" class="side-nav">
  			<li><p class="center-align">Herzlich Willkommen</p><p class="center-align"><img src="{{profilbild}}" class="circle" width="72px" height="72px"></p><p class="center-align">{{username}}</p></li>
  			<li class="divider black"></li>
        <li><a id="btn_goto_home2">Startseite</a></li>
        <li class="divider"></li>
    		<li><a href="/profile">Profil</a></li>
    		<li class="divider"></li>
    		<li><a href="#!">Einstellungen</a></li>
    		<li class="divider"></li>
        <li><a href="/about">About</a></li>
        <li class="divider black"></li>
    		<li><a id="btn_logout_homeBlind2">Logout</a></li>
  		</ul>
  		<a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
	</nav>

	<div class="slider">
  	<div class="fixed-action-btn" style="top: 55px; right: 20px;">
    	<a class="btn-floating btn-large waves-effect waves-light blue darken-1" id="btn_goto_newQuestion">
      	<i class="large mdi-editor-mode-edit"></i>
    	</a>
  	</div>
			<ul class="slides">
				{{#each questions}}
				<li>
					<div class="container" id="homeBlinderCont">
					<div class="card-panel blue">
							<div class="card-image card small">
									<div class="valign-wrapper">
											<img src="{{pic1Id}}" height="300px" width="250px">
											<img src="{{pic2Id}}" height="300px" width="250px">
											<img src="{{pic3Id}}" height="300px" width="250px">
											<img src="{{pic4Id}}" height="300px" width="250px">
									</div>
							</div>
							<div class="card-content">
								{{text}}
							</div>
					</div>
                        <a class="btn waves-effect waves-light blue darken-1" id="removeQuestion"><i class=""></i>Frage Löschen</a>
					</div>
					<div class="container" id="answersCont">
						<div class="col s6">
							<p id="antwortLabel">Antworten:</p>
							<ul class="collection">
								{{#each answers _id}}
        						<a class="collection-item">{{text}}</a>
								{{/each}}
      				</ul>
						</div>

					</div>
      	</li>
				{{/each}}
			</ul>
	</div>

</template>
