# -out { slide
	color: black;
}

h3{
	font-family: serif;
	text-decoration: underline;

}
#Frage_blau{
	margin: 1%;
	margin-top: 0%;
	margin-left: 2%;
	background-color: #1e88e5;
	padding:2%;
	color:#ffffff;
}

#Frage_rot{
	margin: 1%;
	margin-top: 0%;
	margin-left: 2%;
	background-color: #ff5252;
	padding:2%;
	color:#ffffff;
}

#Frage_orangefarben{
	margin: 1%;
	margin-top: 0%;
	margin-left: 2%;
	background-color: #ffa726;
	padding:2%;
	color:#ffffff;
}

#Frage_gruen{
	margin: 1%;
	margin-top: 0%;
	margin-left: 2%;
	background-color: #66bb6a;
	padding:2%;
	color:#ffffff;
}
#homeBlinderCont_blau{
	margin-top: 10%;
	background-color: #bbdefb;
	border: 1px solid #90caf9;
	border-radius: 4px ;
	margin-bottom: 0%;
}

#homeBlinderCont_rot{
	margin-top: 10%;
	background-color: #ef9a9a;
	border: 1px solid #e57373;
	border-radius: 4px ;
	margin-bottom: 0%;
}

#homeBlinderCont_orangefarben{
	margin-top: 10%;
	background-color: #ffe0b2;
	border: 1px solid #ffcc80;
	border-radius: 4px ;
	margin-bottom: 0%;
}

#homeBlinderCont_gruen{
	margin-top: 10%;
	background-color: #aed581;
	border: 1px solid #3dcf2d;
	border-radius: 4px ;
	margin-bottom: 0%;
}
#removeQuestion{
	margin:2%;
	margin-top:0%;
}
#answersCont {
	margin-top: 3%;
}

.card-content{
	color: #fff;
}
ul .action {
	float: right;
	font-weight: bold;
	background: none;
	font-size: 2.5em;
	border: none;
	position: relative;
}
#Kastenaussen{
	margin: 2%;
}
#Button1{
	margin: 2%;
	margin-bottom: 0%;
}
