#slide-out {
	color: black;
}

h3{
	font-family: serif;
	text-decoration: underline;

}

#homeBlinderCont {
	margin-top: 10%;
}

#answersCont {
	margin-top: 3%;
}

.card-content{
	color: #fff;
}

ul .action {
	float: right;
	font-weight: bold;
	background: none;
	font-size: 2.5em;
	border: none;
	position: relative;
}
