#choose_login a, #choose_register a{
	color: #fff;
}

#btn_login_facebook, #btn_login_twitter, #btn_login_login, #btn_register_facebook, #btn_register_twitter, #btn_register_register, #login_email, #register_email{
	width: 80%;
}

.divider {
	width: 80%;
	margin-right: 10%;
	margin-left: 10%;
}

#btn_login_facebook, #btn_register_facebook {
  background-color: #3B5998;
}

#btn_login_twitter, #btn_register_twitter {
  background-color: #00acee;
}

#tabs{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

#choose_login, #choose_register{
	color: #000000;
}





.tabs {
	position: relative;
	height: 48px;
	background-color: #FFF;
	margin: 0 auto;
	width: 100%;
	white-space: nowrap; }
.tabs li.tab {
	display: block;
	float: left;
	text-align: center;
	background-color: #fff;
	line-height: 48px;
	height: 48px;
	padding: 0 20px;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 0.8px;
	width: 15%; }
.tabs li.tab a {
	color: #000;
	display: block;
	width: 100%;
	height: 100%;
	-webkit-transition: color 0.28s ease;
	-moz-transition: color 0.28s ease;
	-o-transition: color 0.28s ease;
	-ms-transition: color 0.28s ease;
	transition: color 0.28s ease; }
.tabs li.tab a:hover {
	color: #000; }
.tabs .indicator {
	position: absolute;
	bottom: 0;
	height: 2px;
	background-color: #000;
	will-change: left, right; }

ul.tabs li.tab {
	padding: 0; }
