<template name="login">
	<header id="header_login">
		<p class="center-align"><img src="sighty.png" width="40%" height="40%"></p>
	</header>
	<div id="login">
		<div id="login_socialnetworks">
			<p class="center-align ueberschrift">Login</p>
			<p class="center-align"><a class="btn waves-effect waves-light" id="btn_facebook"><i class="mdi-social-person right"></i>Facebook</a></p>
			<p class="center-align"><a class="btn waves-effect waves-light" id="btn_twitter"><i class="mdi-social-person right"></i>Twitter</a></p>
		</div>
		<p class="center-align"><div class="divider blue-grey darken-2"></div></p>
		<div class="row" id="login_email">
    		<form class="col s12">
      			<div class="row">
        			<div class="input-field col s12">
          			<input id="email" type="email" class="validate">
          			<label for="email">Email</label>
        			</div>
      			</div>
      			<div class="row">
        			<div class="input-field col s12">
          			<input id="password" type="password" class="validate">
          			<label for="password">Passwort</label>
          			<p class="center-align"><a class="btn waves-effect waves-light blue darken-1" id="btn_login"><i class="mdi-content-send right"></i>Login</a></p>
        			</div>
      			</div>
      		</form>
  		</div>
  		<div class="divider blue-grey darken-2"></div>

  		<div id="login_rest">
  			<p class="center-align"><a class="btn waves-effect waves-light blue darken-1" id="btn_register" href="/register"><i class="mdi-social-person-add right"></i>Registrieren</a></p>
  			<p class="center-align"><a class="btn waves-effect waves-light blue darken-1" id="btn_forgotPassword"><i class="mdi-alert-error right"></i>Passwort vergessen</a></p>
  		</div>
	</div>
</template>
