#choose_login a, #choose_register a{
	color: #fff;
}

#btn_login_facebook, #btn_login_twitter, #btn_login_login, #btn_register_facebook, #btn_register_twitter, #btn_register_register, #login_email, #register_email{
	width: 80%;
}

.divider {
	width: 80%;
	margin-right: 10%;
	margin-left: 10%;
}

#btn_login_facebook, #btn_register_facebook {
  background-color: #3B5998;
}

#btn_login_twitter, #btn_register_twitter {
  background-color: #00acee;
}

#tabs{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}