#btn_change_profile, #btn_confirmdelete_profile, #btn_randomUsername {
	width: 90%;
}

.divider {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

h3 {
	text-decoration: underline;
	font-family: serif;
	color: #000;
}
